body
{
    margin: 0;
    background-color: #000000;
    background-image: url(./HomePage/Photo\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.rele
{
    width: 1360px;
    height: 1px;
    background-color: #f0f8ff;
    margin-top: 25px;
    position: relative;
    bottom: 180px;
}
.rol
{
    width: 1366px;
    height: 1px;
    background-color: #f0f8ff;
    margin-top: 10px;
    position: relative;
    bottom: 90px;
}
img
{
    margin-top: 20px;
}
.title
{
    color: #fff;
    position: relative;
    left: 70px;
    bottom: 80px;
}
.gomr
{
    position: relative;
    left: 840px;
    bottom: 160px;
}
.jede
{
    color: #fff;
    position: relative;
    left: 850px;
    bottom: 170px;
}
.linder
{
    position: relative;
    left: 1050px;
    bottom: 180px;

}
.nedir
{
    color: #fff;
    font-size: 20px;
    position: relative;
    left: 10px;
    bottom: 50px;
}
.leor
{
    color: #fff;
    position: relative;
    left: 40px;
    font-size: 20px;
    bottom: 50px;
}
.dardo
{
    color: #fff;
    position: relative;
    left: 90px;
    font-size: 20px;
    bottom: 50px;
} 
.unp1
{
    position: relative;
    left: 90px;
    bottom: 50px;
}  
.mini
{
    color: #fff;
    position: relative;
    left: 100px;
    font-size: 20px;
    bottom: 50px;
}
.n1
{
    position: relative;
    left: 600px;
    bottom: 20px;
}
.n2
{
    color: #fff;
    position: relative;
    left: 549px;
    bottom: 30px;
}
.n3
{
    color: #fff;
    position: relative;
    left: 600px;
    bottom: 60px;
    
}
.m1
{
    position: relative;
    left: 600px;
    bottom: 50px;
}   
.m2
{
    color: #fff;
    position: relative;
    left: 600px;
    bottom: 50px;
}
.m3
{
    color: #fff;
    position: relative;
    left: 460px;
    bottom: 60px;
}
.mal
{
    background-image: url(./HomePage/Photo.png);
    height: 500px;
    width: 1000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 400px;
    bottom: 120px;
}
.perrel
{
    height: 600px;
    width: 1366px;
    position: relative;
    background-position: center;
    top: -120px;
    bottom: 600px;
    background: #161616bb;
    
}
.ponel
{
    
    position: relative;
    left: 300px;
    top: 280px;
}   
.perendal
{
    margin: 0px;
    top:-90px;
    height: 240px;
    right: 10px;
}